{% extends "layout.html" %}
{% block body %}
{% if numberOfGrades|length > 1%}
    <div class="container" id = "aLevelForm">
        <form action="/aLevelPost" method="post">
            <h1>A-Level Quantifier</h1>
            <input autocomplete="off"  name="subject" placeholder="Enter your subject">
            <input autocomplete="off" name="grade" placeholder="Enter your grade">
            <p></p>
            <button type = "submit">Calculate</button>
        </form>
    {% for numberOfGradesSubject in numberOfGrades %}
    <div class="container" id = "aLevelForm">
        {% if scoreCalc == True %}
            <p>Your subject is {{ numberOfGradesSubject }}, with a grade of {{ grades[loop.index0] }}</p>
            <img src="data:image/png;base64,{{images[loop.index0]}}" class="blog-image" style="display: block; margin: 0 auto; text-align: center;">
            <p> Your grade percentile is between {{chosenGradesLow[loop.index0]}}% and {{chosenGradesHigh[loop.index0]}}%</p>
        {% endif %}
    {% endfor %}
{%else%}
    <div class="container" id = "aLevelForm">
        <form action="/aLevelPost" method="post">
            <h1>A-Level Quantifier</h1>
            <input autocomplete="off"  name="subject" placeholder="Enter your subject">
            <input autocomplete="off" name="grade" placeholder="Enter your grade">
            <p></p>
            <button type = "submit">Calculate</button>
        </form>
        {% if scoreCalc == True %}
            <p>Your subject is {{ numberOfGrades[0] }}, with a grade of {{ grades[0] }}</p>
            <img src="data:image/png;base64,{{images[0]}}" class="blog-image" style="display: block; margin: 0 auto; text-align: center;">
            <p> Your grade percentile is between {{chosenGradesLow[0]}}% and {{chosenGradesHigh[0]}}%</p>
        {% endif %}
    {% endif %}
{% endblock %}
</body>
</html>